/*mathstyle.css*/
span.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.frac > sup,
span.frac > sub {
  display: block;
  font: inherit;
  padding: 0 0.3em;
}
span.frac > sup {
  border-bottom: 0.08em solid;
}
span.frac > span {
  display: none;
}

#simscreen {
  position: relative;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  border: solid 1px;
}

#title {
  position: relative;
  left: 0px;
  top: 0px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: black;
  font-family: verdana;
  color: White;
  text-transform: uppercase;
}

#title h3 {
  padding-top: 2px;
  margin: 0px;
}

.simsubscreen {
  position: absolute;
  left: 50px;
  top: 50px;
  height: 530px;
  width: 745px;
}

.incanvas {
  margin: 5px 0 0 5px;
  padding: 0;
}

#nextButton {
  position: absolute;
  left: 750px;
  top: 530px;
  cursor: pointer;
}

.circlebg {
  border-radius: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #000;
}

.steptext {
  display: inline;
  font-size: 14px;
}

#copyright {
  position: absolute;
  left: 280px;
  top: 580px;
  font-size: 12px;
}
select {
  width: 150px;
  /* font-weight: bold; */
  position: absolute;
  left: 310px;
  top: 96px;
  scroll-padding-left: 2%;
  /* padding-bottom: 2%; */
  scroll-padding-top: 2%;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

label {
  position: absolute;
  left: 170px;
  top: 103px;
  font-size: 15px;
}
.plybtn {
  position: absolute;
  left: 290px;
  top: 265px;
  width: 60px;
  height: 55px;
  border-radius: 100%;
  border-color: #000;
  color: #000;
  padding-top: 30px;
  background-color: #b5b2b2ba;
  cursor: pointer;
}
.plybtn::before {
  position: absolute;
  content: "";
  border-top: transparent 10px solid;
  border-bottom: transparent 10px solid;
  border-left: #000 15px solid;
  top: 45%;
  left: 50%;
  transform: translate(-40%, -50%);
  cursor: pointer;
}
.plybtn:disabled {
  position: absolute;
  left: 290px;
  top: 265px;
  width: 60px;
  height: 55px;
  border-radius: 100%;
  border-color: #000;
  color: #000;
  padding-top: 30px;
}
p.ad {
  position: absolute;
  left: 273px;
  top: 322px;
  font-size: 80%;
}
p.morse {
  position: absolute;
  left: 270px;
  top: 150px;
}
p.dm {
  position: absolute;
  left: 160px;
  top: 250px;
  width: 60px;
  height: 35px;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  text-align: center;
  text-decoration: solid;
  font-style: bold;
  border: 2.5px solid black;

  font-size: larger;
  padding-top: 2%;
  padding-bottom: -2%;
  padding-left: -2%;
  padding-right: -2%;
  background-color: rgb(196, 203, 203);
  font-weight: 600;
  font-size: 20px;
}

.morsedisplay1 {
  position: absolute;
  left: 420px;
  top: 260px;
  width: 150px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
}
.button {
  position: relative;
  left: 330px;
  top: -290px;
  width: 80px;
  height: 25px;
  margin-bottom: 20px;
}
.repeat1 {
  position: absolute;
  left: 290px;
  top: 450px;
  width: 60px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  /* font-family: roboto;  */
  font-style: bold;
  font-family: "Roboto";
  border-color: #000;
}
.warning {
  position: absolute;
  left: 220px;
  top: 151px;
  font-size: 14px;
}
.pd {
  /* margin: 40px; */
  padding-right: 35px;
}
.pd1 {
  /* margin: 40px; */
  padding-right: 35px;
}

.opDoubledash {
  font-weight: 600;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.repeatname {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
}
.clickhere {
  position: absolute;
  left: 310px;
  top: 96px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#container {
  width: 40%;
  margin: 20px auto; /* Center the container */
  border: 2px solid #ccc; /* Add a border around the container */
  padding: 10px; /* Add some padding to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  position: relative;
  transition: transform 0.3s ease;
  top: -40px;
  border-radius: 2%;
}

table {
  border-collapse: collapse;
  width: auto;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* padding: 10px; */
}

th,
td {
  padding: 8px;
}
/* td{
	display:inline-flex ;
} */
/* button {
	/* width: 100%; */
/* padding: 8px; */

/* } */
#selectbutton {
  width: 58px;
  font-weight: bolder;
  font-size: 17px;

  padding: 8px;
  /* border: #000 ; */
  border-radius: 5px;
  cursor: pointer;
}
#selectbutton:hover {
  background-color: #aca5a5;
}

.morseCodeDisplay {
  position: absolute;
  border: #000;
  background-color: antiquewhite;
}
.morseCodeDisplay1 {
  position: absolute;
  border: #000;
  left: 420px;
  top: 210px;
  width: 150px;
  height: 50px;
  font-weight: 700;
  font-size: 45px;
}
.selected {
  position: absolute;
  left: 220px;
  top: 150px;
}
.selctedSyntax {
  position: absolute;
  left: 370px;
  top: 140px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border: solid 1px;
}
.syntaxMorse {
  position: absolute;
  left: 340px;
  top: 99px;
  font-weight: 700;

  padding: 5px;
  height: 20px;
  width: 30px;
  text-align: center;
  border: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgb(196, 203, 203);
}
.selectbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  margin-left: 30px;
}
.submitButton {
  position: relative;
  left: 45%;
  margin-top: 20px;
}
/* .dollarButton
{
	margin-left: 100px;
}
 */
